<div class="genre">
<section class="container">
  <h3 class="genre-name">{{genres.name}}</h3>
  <!-- If the user is logged in, render the gallery content -->
  {{#if loggedIn}}
  <section class="flex-row justify-center">
    {{#each genres.movies as |movie|}}
    {{> movie-details}}
    {{/each}}
  </section>
</section>
</div>
<!-- Otherwise, provide a link to login -->
{{else}}
<a href="/login">Please login to see our genres!</a>
{{/if}}